include ../../components/blocks/header/header.pug
include ../../components/blocks/footer/footer.pug
include ../../components/blocks/product-card/product-card.pug

-let productCard

doctype html
html(lang="ru")
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel="icon" type="image/x-icon" href="img/favicon.ico")
		link(rel="stylesheet", href="css/common.css")
		link(rel="stylesheet", href="css/index.css")
		title='Главная'
	body
		.wrapper
			+header()
			main.main
				.main__bg.ibg
					img(src="img/Pattern.png", alt="")
				.container
					.main__content
						.main-content
							h1.main-content__title Ты сегодня покормил кота?
							.main-content__body
								.main-content__row
									.main-content__column
										.main-content__item
											-
												productCard = {
													imgSrc: 'img/cat.png', // product client's photo
													descr: 'Сказочное заморское яство', // product header - description
													comebackDescr: 'Котэ не одобряет?', // text, when you unhover selected card
													title: 'Нямушка', // product name
													subtitle: 'с фуа-гра', // product subname
													weight: '0,5',
													weightMeasure: 'кг',
													advantageList: [
														{amount: 10, name: 'порций'},
														{amount: '', name: 'мышь в подарок'}
														], // list of advantages
													footerType: 'usual',// 'usual' for non-active and enabled, 'active' for active and enabled, 'disabled' for disabled
													footerText: {
														usual: {text: 'Чего сидишь? Порадуй котэ,', linkText: 'купи'}, 
														active: {text: 'Печень утки разварная с артишоками.'}, 
														disable: {text: 'Печалька, с рыбой закончился.'} 
														} // footer texts for all conditions
												}
											+product-card(productCard.imgSrc, productCard.descr, productCard.comebackDescr, productCard.title, productCard.subtitle, productCard.weight, productCard.weightMeasure, productCard.advantageList, productCard.footerType, productCard.footerText)
									.main-content__column
										.main-content__item
											-
												productCard = {
													imgSrc: 'img/cat.png', // product client's photo
													descr: 'Сказочное заморское яство', // product header - description
													comebackDescr: 'Котэ не одобряет?', // text, when you unhover selected card
													title: 'Нямушка', // product name
													subtitle: 'с рыбой', // product subname
													weight: 2,
													weightMeasure: 'кг',
													advantageList: [
														{amount: 40, name: 'порций'},
														{amount: 2, name: 'мыши в подарок'}
														], // list of advantages
													footerType: 'active',// 'usual' for non-active and enabled, 'active' for active and enabled, 'disabled' for disabled
													footerText: {
														usual: {text: 'Чего сидишь? Порадуй котэ,', linkText: 'купи'}, 
														active: {text: 'Головы щучьи с чесноком да свежайшая сёмгушка.'}, 
														disable: {text: 'Печалька, с рыбой закончился.'} 
														} // footer texts for all conditions
												}
											+product-card(productCard.imgSrc, productCard.descr, productCard.comebackDescr, productCard.title, productCard.subtitle, productCard.weight, productCard.weightMeasure, productCard.advantageList, productCard.footerType, productCard.footerText)
									.main-content__column
										.main-content__item
											-
												productCard = {
													imgSrc: 'img/cat.png', // product client's photo
													descr: 'Сказочное заморское яство', // product header - description
													comebackDescr: 'Котэ не одобряет?', // text, when you unhover selected card
													title: 'Нямушка', // product name
													subtitle: 'с курой', // product subname
													weight: 5,
													weightMeasure: 'кг',
													advantageList: [
														{amount: 100, name: 'порций'},
														{amount: 5, name: 'мышей в подарок'},
														{amount: '', name: 'заказчик доволен'}
														], // list of advantages
													footerType: 'disable',// 'usual' for non-active and enabled, 'active' for active and enabled, 'disabled' for disabled
													footerText: {
														usual: {text: 'Чего сидишь? Порадуй котэ,', linkText: 'купи'}, 
														active: {text: 'Филе из цыплят с трюфелями в бульоне.'}, 
														disable: {text: 'Печалька, с рыбой закончился.'} 
														} // footer texts for all conditions
												}
											+product-card(productCard.imgSrc, productCard.descr, productCard.comebackDescr, productCard.title, productCard.subtitle, productCard.weight, productCard.weightMeasure, productCard.advantageList, productCard.footerType, productCard.footerText)

			+footer()
		
		script(src='js/jquery.min.js')
		// jquery
		script(src='js/common.js')
		script(src='js/index.js')



