/*Обнуление*/
//@import "src/components/_common/vars.scss";
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	display: block;
	min-width: $minwidth;
	font-family: $font_main;
	width: 100%;
	line-height: 1;
	font-size: $mainFontSize;
	@media (max-width: 950px) {
		font-size: 13px;
	}
	@media (max-width: 650px) {
		font-size: 12px;
	}
	@media (max-width: 450px) {
		font-size: 11px;
	}
	@media (max-width: 450px) {
		font-size: 9px;
	}
}

body {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	margin: 0;
	background-blend-mode: multiply;
}

input,
button,
textarea {
	font-family: $font_main;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
