// Font
$font_main: "Trebuchet MS", Arial, sans-serif;
$font_second: "Exo2", Arial, sans-serif;

// Size
$minwidth: 320px;

$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

//color
$fillColor_default: #1698d9;
$fillColor_selected: #e62e7a;
$fillColor_disabled: #b3b3b3;

$fillColor_defaultHover: #2ea8e6;
$fillColor_selectedHover: #d91667;
$fillColor_disabled: #b3b3b3;
