// Font
$Font_main: "Trebuchet MS", Arial, sans-serif;
$Font_second: "Exo2", Arial, sans-serif;

// Size
$minwidth: 320px;

$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

//color
$BorderColor_usual: #1698d9;
$BorderColor_active: #d91667;
$BorderColor_disable: #b3b3b3;
